<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- springmvc入口-控制中心 -->
  <servlet>
    <servlet-name>console</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!-- 默认会找WEB-INF下的/[servlet名称]-servlet.xml -->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-console.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>console</servlet-name>
    <!--/*监听所有 -->
    <!--/监听所有,放过jsp -->
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

</web-app>
